.main{
    width: 100%;
    background-color: #339989;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.logo{
    width: 200px;
    height: 200px;
    position:absolute;
    top: -40px;

}