.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  gap: 1rem;
}

.grid-item {
  background-color: #fff;
  /* border: 1px solid #e5e7eb; */
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.grid-item .grid-item-title {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}



/* Tablette */
@media (min-width: 1024px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}