/* LED Screen Editor */

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: black;
}

.custom-checkbox:checked {
    background-color: rgb(59, 144, 255);
    border-color: rgb(59, 144, 255);
}