@import url("constants.css");
@import url("fonts.css");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.font-title {
    font-family: "LemonMilk", Arial, Helvetica, sans-serif !important;
}
.font-body {
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary);
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--palette-color-1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
header > nav {
    height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 0 2rem;
}
header > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  gap: 2rem;
}
header > nav > ul > li {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 0;
}

header > nav > ul > li > a {
    font-family: "LemonMilk", Arial, Helvetica, sans-serif;
}
    

img.logo {
  height: 128px;
  width: auto;
  aspect-ratio: 1/1;
}

/* BANNIERE */
.banner {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  display: grid;
  place-content: center;
}
.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
}
.banner-text {
  color: var(--background-color);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  padding: .25rem .75rem;
  background-color: rgba(255,255,255,.3);
  border-radius: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
